In [1]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import json
import csv

In [2]:
client = MongoClient("mongodb://localhost:27017")

In [3]:
db = client['Project']
collection = db['ProjectData']

In [4]:
print(collection)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Project'), 'ProjectData')

In [5]:
record = collection.find()

In [17]:
data_entries = record[0]['data_entries']

In [23]:
data_entries[0]

['row-mnid.ac5t.8e6c',
 '00000000-0000-0000-2A4D-FC17C663CD70',
 0,
 1583413338,
 None,
 1583413338,
 None,
 '{ }',
 '2020',
 '1',
 'REPUBLIC NATIONAL DISTRIBUTING CO',
 '100009',
 'BOOTLEG RED - 750ML',
 'WINE',
 '0',
 '0',
 '2']

We only need last 9 variables - convert to dataframe

In [39]:
year = []
month = []
supplier = []
item_code = []
item_description = []
item_type = []
retail_sales = []
retail_transfers = []
warehouse_sales = []

for i in (data_entries):
    a, b, c, d, e, f, g, h, x = i[8], i[9], i[10], i[11], i[12], i[13], i[14], i[15], i[16]
    year.append(int(a))
    month.append(int(b))
    supplier.append(c)
    item_code.append(int(d))
    item_description.append(e)
    item_type.append(f)
    retail_sales.append(float(g))
    retail_transfers.append(float(h))
    warehouse_sales.append(float(x))

In [46]:
data = {'Year': year,
'Month': month,
'Supplier': supplier,
'Item Code': item_code,
'Item Description': item_description,
'Item Type': item_type,
'Retail Sales': retail_sales,
'Retail Transfers': retail_transfers,
'Warehouse Sales': warehouse_sales}

df = pd.DataFrame(data,columns=['Year',  'Month',  'Supplier', 'Item Code', 'Item Description', 'Item Type',
                               'Retail Sales', 'Retail Transfers', 'Warehouse Sales'])

In [49]:
df.head()

,Year,Month,Supplier,Item Code,Item Description,Item Type,Retail Sales,Retail Transfers,Warehouse Sales
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [51]:
df.to_csv('C:/Users/dylan/OneDrive/Desktop/DAP/warehouse_sales.csv', index=False)